
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h4>@Model.val1 @Model.sing @Model.val2 = @Model.result</h4>
</center>
<button>@Html.ActionLink("Main page","Index","Home")</button>